@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

aside{
    background-color: #084b72;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

img{
    width: 1.2rem;
}

aside img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(82deg) brightness(101%) contrast(103%);
}

h1{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 1rem;  
}

h1 img{
    width: 2rem;
}

.dashboard-list{
    margin-left: 1.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
}

.dashboard-list li{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.1rem;
}

.profile-topbar{
    padding: 1.5rem 2rem;
    box-shadow: 0px  2px 3px rgba(0, 0, 0, 0.5);
}

.searchbar{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchbar input{
    width: 40vw;
    height: 2rem;
    border: none;
    padding: 1rem;
    background-color: #b3ccf5;
    border-radius: 99em;
    margin-right: auto;
}

.avatar-name-buttonsbar{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.avatar-name-buttonsbar .avatars{
    width: 3rem;
}

.username{
    font-weight: 700;
    margin-right: auto;
    font-size: 1.2rem;
}

.greetings{
    font-size: .8rem;
}

.avatars{
    width: 2rem;
    border: 2px solid;
    border-radius: 99em;
    border-color: #084b72;
}

.button{
    background-color: #084b72;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 99em;
    color: white;
    font-weight: 600;
}

.button:hover{
    background-color: hsl(202, 87%, 35%);
}

.button:active{
    background-color: inherit;
    outline: 2px solid #084b72;
    color: inherit;
}

.content{
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
    grid-template-rows: min-content;
}

.your-projects{
    grid-column: 1/-1;
    margin-bottom: 0;
}

.project{
    border-radius: 12px;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-left: 12px solid #f0b429;
    display: grid;
}

.project-content{
    color: #636363;
}

.project-actions{
    display: flex;
    justify-self: end;
    gap: 1rem;
}

.side-info-container{
    margin-top: 1rem;
}

.annonucements-list{
    list-style-type: none;
    border-radius: 12px;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    color: #636363;
}

.announcements{
    margin: 1rem 1rem 0 0;
}

.announcements h3{
    color: initial;
    margin: .5em 0;
}

.trending{
    margin: 0 1rem 0 0;
}

.trending-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: 3rem 1fr;
    row-gap: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    color: #636363;
    align-items: center;
}

.sidebar-username{
    color: initial;
    font-weight: 600;
}